<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/nav.ejs') %>

    <form action="/createorder" method="POST">
        <div>
            Customer name
            <input type="text" name="customername" />
        </div>
        <div>
            Address
            <input type="text" name="address" />
        </div>
        <div>
            qty
            <input type="number" name="qty" value="<%= qty %>" />
        </div>
        <input type="hidden" name="productId" value="<%= productId %>" />
        <input type="hidden" name="price" value="<%= price %>" />
        <button type="submit">Create order</button>
    </form>
</body>
<html/>